<div class="container">

    <h1> PAYMENT IS FAILED! </h1>

    @if (ViewBag.Message != null)
    {
        <p> @ViewBag.Message </p>
    }
    else
    {
        <p> reason: unknown. sorry! </p>
    }

</div>
