@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to PayTR payment app.</h1>
    <p>Generate a fake order with this <a class="btn btn-primary" asp-controller="order" asp-action="index">link</a> and complete order to see PayTR Payment Integration</p>
</div>
